

/* ********** NAV ******** */

  .header-nav {
    display: flex;
    flex-direction: row;
    background: black;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 10;
    padding: 10px 0;
  }

  a.logo {
    width: 50%;
    position: relative;
    z-index: 3;
  }

  .menu-icon {
    display: block;
    color: #f2f2f2;
    position: relative;
    margin: 0 6px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 25px;
    background-color: inherit;
    z-index: 2;
  }


  .main-nav {
    position: absolute;
    top: -500%;
    left: 0;
    width: 100%;
    z-index: -1;
    transition: all .3s ease-in-out;
    text-align: center;
    font-family: homefont, sans-serif;
    font-size: 1.5em;
    background: black;
    text-decoration: none;

    ul {
      padding: 0;
      margin: 0;
      list-style: none;

      li {
        padding: 15px 0;

        a {
          text-decoration: none;
          color: #339999;
        }
      }
    }
  }

  .main-nav--open {
    top: 100%;
  }

  @media screen and (min-width: 768px) {
    /* SHOW NAV */


    .main-nav ul {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      padding: 0;
      font-size: 1em;
    }
    /* size */

    /* nav */

    .header-nav {
      display: inline;
    }

    .main-nav ul li {
      display: block;
      color: #fff;
      font-size: 0.8em;
    }

    .main-nav--open {
      top: 0;
    }

    .main-nav ul li {
      padding: 0 10px;
    }


    section.heading {
      display:none;
    }


    .header-nav {
      background-color: rgba(0, 0, 0, .1);
    }

    .menu-icon {
      display: none;
    }



    .main-nav {
      background-color: rgba(0, 0, 0, .65);
      top: 0;
      left: 0;
      padding: 60px 0 0 0;
      width: 100%;
    }

    .main-nav ul li a {
      width: auto;
      display: inline-block;
      margin: 5px 10px;
      padding: 8px 15px;
      border: none rgba(0, 0, 0, .65);
      color: #fff;
      text-decoration: none;
      font-size: 1.2em;

      &:hover {
        text-decoration: underline;
      }
    }



    .main-nav ul {
      list-style-type: none;
      margin-bottom: 0;
      padding-left: 0;
      overflow: hidden;
      background-color: rgba(0, 0, 0, .0);
    }

  }

  @media screen and (min-width: 900px) {
    /* NAV */
    .nav {
      padding: 0 0 0 180px
    }

    .main-nav ul li a {
      font-size: 1.3em;
    }
  }

  @media screen and (min-width: 1000px) {



    .nav ul {
      list-style-type: none;
      margin-bottom: 0;
      margin-left: 220px;
      overflow: hidden;
      background-color: rgba(0, 0, 0, .0);
    }
    .nav ul li a {
      font-size: 1.6em;
    }

    .nav {
      padding: 0 0 0 0;
    }


    .main-nav {
      padding: 30px 0 0 0;
    }

  }