
// variables

//colours
$headingcolour: #339999;
$maincolour: #339999;

// font
@font-face {
  font-family: myfont;
  src: url(../fonts/waterlily.regular.ttf);
}
@font-face {
  font-family: homefont;
  src: url(../fonts/Muli-Regular.ttf);
}
