//colours
$headingcolour: #339999;

$maincolour: #339999;

$footercolour: 	 #8cd9d9;


// IMPORT
@import "extend";
@import "variables";

//IMPORT - SECTIONS
@import "header";
@import "nav";
@import "footer";






/* CSS */

  *, *:before, *:after {
    box-sizing: border-box;
  }

  .skipnav {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
  }

  header h1 {
    display: none;
  }


  body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #555;
    margin: 0;
    padding: 0;

  }

  #page {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    height: auto;
  }

  /* General Text */


  a {
    color: #000;

    &:visited {
      color: #339999;
    }
  }


  a.btn{
    font-size: 1.2em;
    text-decoration: none;
    color:#fff;
    border: 1px solid #fff;
    padding: 4px 15px;
    transition: background-color .5s;

    &:hover{
      background-color: rgba(0,0,0,.3);
    }
  }

  em {
    font-family: myfont, 'waterlily', serif;
    font-size: 1.9em;
    color: $headingcolour;
    font-style:normal;
  }

  q {
    color: #000;

  }

  /* BREADCRUMB LINKS ON BLOG AND WORK PAGES WITH DATES */
  .content-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 0.7em;
  }



  /*Section - ALL*/

  section {
    padding: 0 10px;

    &:after {
      content: '';
      display: block;
      clear: both;
    }
  }


  /*SECTION - HOMEPAGE */

  section.home p {
    padding: 20px 10px 0 10px;
    font-size: 1em;
    font-family: homefont, sans-serif;
    line-height: 210%;

  }




  /* SECTION - MAIN */


  section.main {
    margin-top: 10px;
    margin-bottom: 30px;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    flex-flow: row wrap;
    justify-content: space-around;
  }
    section.main .content{
      margin: 15px;
      background: no-repeat center top;
      background-size: 75px 75px;
      padding-top: 85px;
      text-align: center;
    }
    .content h3 {
      color: #000;
      font-family:myfont, 'waterlily', serif;
      font-size: 1.5em;
      text-align: center;
      margin-bottom: 0;

    }

  section.home h1 {
    display: none;
  }


  a.main-content {
    text-decoration: none;
    color: #339999;
  }


  /* <div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div> */

  section.main .icon-link .content.work{
    background-image: url(../images/laptop_svg.svg);

  }

  section.main .icon-link .content.blog{
    background-image: url(../images/pencil_svg.svg);

  }
  /* <div>Icons made by <a href="http://www.flaticon.com/authors/ocha" title="OCHA">OCHA</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div> */


  section.main .icon-link .content.contact{
    background-image: url(../images/email_svg.svg);

  }

  /* SECTION - CONTENT */

  section.content   {
    margin-top: 20px;
    margin-bottom: 30px;

      p  {
        margin-top: 20px;
        font-size: 1.2em;
        padding: 10px 50px 10px 50px;

      }
  }


  /* ABOUT ME AND PICTURES */

  section.about {
    margin-top: 40px;
  }

  section.about h1 {
    @extend .h1;
  }

  section.about article {
    width: 100%;
    float: none;
    margin-bottom: 40px;
  }

  section.about article p {
    font-size: 1em;
  }

  section.about article div {
    margin: 0 20px;
    padding: 0 0 30px 0;
    border-right: none;
    border-bottom: 1px solid #555;
  }

  section.about article h2 {
    font-family:myfont, 'waterlily', serif;
    font-size: 2em;

  }

  section.about aside {
    display: -ms-flexbox;
    -ms-flex-wrap: wrap;
    -ms-flex-direction: column;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    display: -webkit-box;
    display: flex;
  }

  section.about aside div {
    -ms-flex: auto;
    flex: auto;
    width: 200px;
    margin: .5vw;

  }

  section.about div img {
    width: 100%;
    height: auto;
  }




  /* WORK-- SECTION - MAIN */

  section.work {
    margin-bottom: 10px;
    margin-top: 40px;
    @extend .flex-column;
    display: flex;
    flex-direction: column;
  }

  section.work h1 {
    @extend .h1;
    margin-bottom: 20px;
    padding-bottom: 40px;
  }

  section.work h3 {
    color: #000;
    text-align: center;
    margin-bottom: 20px;
    font-size: 2.7em;
    font-family: myfont, 'waterlily', serif;
    padding-bottom: 20px;
  }

  section.work aside {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }

  section.work .content{
    margin: 10px;
    background: no-repeat center top;
    background-size: 75px 75px;
    padding: 20px 20px;
  }

  section.work aside h2  {
    text-decoration: underline;
    color: #000;
    font-family: myfont, 'waterlily', serif;
    font-size: 2em;
  }

  section.work aside h2 a:hover {
    text-decoration: underline;

  }

  /* PREVIOUS WORK */

  section.prevwork {
    margin-top: 10px;
    margin-bottom: 30px;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    @extend .flex-column;

  }

  section.prevwork .work-info {
    display: flex;
    justify-content: space-around;
  }

  section.prevwork .content{
    margin: 15px;
    background: no-repeat center top;
    background-size: 75px 75px;
    padding-top: 85px;
    text-align: center;
  }

  section.prevwork .content h2 {
    color: #000;
    font-family: myfont, 'waterlily', serif;
    font-size: 2em;
    text-align: center;
    text-decoration: underline;
  }

  section.prevwork .work-info h2 a:hover {
    text-decoration: underline;

  }

  /* find images */
  section.prevwork .work-info .content.work{
    background-image: url(../images/laptop_svg.svg);

  }

  /* BLOG - MAIN */

  section.blog{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    @extend .flex-column;
  }

  section.blog h1 {
    @extend .h1;
    margin-bottom: 20px;
    padding-bottom: 10px;

  }


  section.blog .blog-info {
    flex-flow: row wrap;
    justify-content: space-around;
  }

  section.blog .content{
    margin: 15px;
    background: no-repeat center top;
    background-size: 75px 75px;
    padding-top: 85px;
  }

  section.blog .blog-info h2  {
    color: #000;
    font-family: myfont, 'waterlily', serif;
    font-size: 2em;
    text-align: center;
  }
  section.blog .blog-info h3 {
    text-align: center;
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
  }

  section.blog .blog-info p {
    font-size: 1.2em;
    text-align: center;
  }
  section.blog .blog-info  a {
    font-size: 1em;
    text-align: center;
    text-decoration: none;
  }

  section.blog .blog-info div.content {
    border-bottom: solid #fff;
  }

  /* <div>Icons made by <a href="http://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>*/

  section.blog .blog-info .content.blog{
    background-image: url(../images/blog.svg);
  }


  /* BLOG - CONTENT  PAGE */

  section.blogcontent {
    margin-top: 40px;
    margin-bottom: 10px;
  }

  section.blogcontent ul {
    padding-left: 0;
  }
  section.blogcontent li {
    margin-bottom: 10px;
    font-size: 0.7em;
  }

  section.blogcontent p{
    font-size: 1em;
    line-height: 160%;
  }

  blockquote {
    font-family: myfont, 'waterlily', serif;
    font-size: 1.1em;
  }

  figcaption{
    font-size: 0.7em;
    background-color: lightgrey;
    text-align: center;

  }
  section.blogcontent h1 {
    @extend .h1;
    margin-bottom: 20px;
    padding-bottom: 40px;

  }

  section.blogcontent h2 {
    color: #000;
    text-align: center;
    margin: 20px 0;
    font-size: 2.7em;
    font-family: myfont, 'waterlily', serif;
    padding: 20px 0;
  }

  section.blogcontent img {
    width: 100%;
    margin-bottom: 5px;
    vertical-align: middle;
  }

  /* TWITTER SHARE BUTTON ON BLOG POSTS */
  .twitter-share-button {
    margin-left: 40%;
    margin-bottom: 40px;

  }



  /* CONTACT ME */

  section.contact ul {
    list-style: none;
    padding-left: 20px;
  }

  section.contact ul li {
    font-family: myfont, 'waterlily', serif;
    font-size: 1.5em;
  }
  section.contact {
    margin-top: 40px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    @extend .flex-column;
  }


  section.contact article {
    text-align: left;
    flex-direction: column;
  }

  section.contact article h3  {
    font-size: 2em;
    color: #339999;
    font-style: italic;

  }


  /*  CONTACT FORM */

  form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  #contact-area {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 25px;
  }

  #contact-area input, #contact-area textarea {
    padding: 5px;
    width: 100%;
    font-family: Helvetica, sans-serif;
    font-size: 1.5em;
    margin: 0 0 10px 0;
    border: 2px solid #339999;
  }

  #contact-area textarea {
    height: 90px;
  }

  #contact-area textarea:focus, #contact-area input:focus {
    border: 2px solid #900;
  }


  label {
    float: left;
    margin-right: 15px;
    width: 100px;
    padding-top: 5px;
    font-size: 1.5em;
    font-family: myfont, 'waterlily', serif;
  }



/* ******** MEDIA QUERIES ********/

@media screen and (min-width: 600px) {

  /* BREADCRUMB LINKS ON BLOG AND WORK PAGES WITH DATES */
  .content-info{
    font-size: 1em;
  }


  a.btn {
    font-size: 1em;
  }


  .banner-img img {
    height: 70%;
  }



  /*SECTION - HOMEPAGE - 600px */
  section.home p {
    padding: 20px 40px 0 40px;
    font-size: 1.5em;
  }

  /* SECTION - MAIN - 600px */
  section.main {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  section.main .content {
    background-size: 85px 85px;
  }

  section.main .icon-link {
    flex-grow: 1;
    flex-basis: 0;
  }

  section.main .icon-link a h3 {
    font-size: 2em;
  }

  /* ABOUT ME AND PICS - 600px */
  section.about h1 {
    font-size: 4em;
  }

  section.about article p {
    font-size: 1.1em;
  }

  section.about article div {
    margin: 0 40px;
  }

  section.about article h2 {
    font-size: 2.5em;

  }

  /* SECTION - PREVIOUS WORK - 600px */
  section.work h1 {
    font-size: 4em;
  }

  section.work p {
    padding: 0 40px;
    font-size: 1.3em;
  }

  section.prevwork .content {
    background-size: 85px 85px;
  }

  section.prevwork .content h3 {
    font-size: 1.5em;
  }

  section.prevwork .content p {
    font-size: 1.2em;
  }

  section.prevwork .content a {
    font-size: 1.5em;
    text-align: center;
  }

  /* SECTION - MAIN - BLOG - 600px */
  section.blog .blog-info {
    text-align: left;

  }

  section.blog .blog-info div.content {
    margin: 8px 0 9px 0;
    padding: 60px 0 0 100px;
    background-size: 75px 75px;
    background-position: 5px 80px;

  }

  section.blog h1 {
    font-size: 4em;
  }

  section.blog .blog-info h2 {
    font-size: 2em;
  }

  section.blog .blog-info p {
    font-size: 1.1em;
    text-align: left;
  }

  section.blog .blog-info a {
    font-size: 1em;
    text-align: right;
  }

  /* BLOG CONTENT - 600px  */
  section.blogcontent {
    margin: 40px 60px 0;
  }

  section.blogcontent li {
    font-size: 0.8em;
  }

  section.blogcontent h1 {
    font-size: 4em;

  }

  blockquote {
    font-size: 1.5em;
  }

  figcaption {
    font-size: 1em;

  }

  section.blogcontent img {
    width: 100%;
    margin-bottom: 0;
  }

  /* SECTION - CONTENT - 600px */
  section.content p {
    margin-bottom: 30px;
    font-size: 1.1em;
    padding: 10px 30px 10px 30px;
  }

  /* CONTACT - 600px */

  form {
    width: 70%;
    padding-left: 40px;
  }

  label {
    text-align: left;
    font-size: 1.6em;
  }

}



@media screen and (min-width: 768px) {


  /* BREADCRUMB LINKS ON BLOG AND WORK PAGES WITH DATES */
  .content-info{
    font-size: 0.8em;
  }


  /* MAIN LINKS ON HOMEPAGE */

  .content h3:hover {
    text-decoration: underline;
  }

  /* SECTION - BLOG */
  section.blog {
    padding: 0 70px 0 70px;
  }

  section.blog .blog-info div.content:hover {
    border-bottom: groove $maincolour;
  }


  section.blog .blog-info a:hover {
    text-align: center;

  }

  /*PREV WORK */

  section.prevwork {
    padding: 0 90px 0 90px;
  }



}
@media screen and (min-width: 900px) {


  .skiptotop {
    font-size: 1.5em;
  }

  /* SECTION - MAIN - BLOG - 900px */

  section.blog{
    margin-top: 20px;
    margin-bottom: 20px;

  }

  section.blog .blog-info {
    text-align: left;
    padding: 10px 10px 10px 10px;

  }

  section.blog .blog-info div.content {

    margin: 8px 0 9px 0;
    padding: 0 30px 40px 30px;
    background-size: 85px 85px;
    background-position: 5px 10px;
  }


  section.blog .blog-info h2  {
    font-size: 2.3em;
  }

  section.blog .blog-info p {
    font-size: 1.4em;
    padding: 0 100px;
  }

  section.blog .blog-info a {
    font-size: 1em;
    text-align: right;
  }




  /* BLOG CONTENT */

  section.blogcontent {
    padding: 10px 200px 10px 200px;
  }

  section.blogcontent img {
    width: 100%;

    margin-bottom: 0;
  }


  /* ABOUT ME AND SLIDER - 900px */

  section.about article {
    padding-top: 40px;
    width: 70%;
    float: left;
    margin-bottom: 100px;
  }

  section.about article p {
    font-size: 1.4em;

  }

  section.about article div {
    padding: 0 40px 0 10px;
    border-right: 1px solid #555;
    border-bottom: none;
  }

  section.about aside {
    padding-top: 40px;
    padding-right: 30px;
  }




  /* PREVIOUS WORK - 900PX */

  section.prevwork {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  section.work p {
    text-align: center;
    font-size: 1.5em;
  }

  /* CONTACT FORM */

  section.contact {
    margin: 40px 0 10px 20px;
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
  }

  form {
    width: 90%;
    padding-left: 100px;
  }

  label {
    font-size: 1.7em;
  }





}


@media screen and (min-width: 1100px) {

  /* SECTION BLOG */

  section.blog {
    padding: 0 150px 0 150px;
  }

  /* BLOG CONTENT */

  section.blogcontent {
    padding: 10px 300px 10px 300px;
  }

  .content-info {
    font-size: 0.8em;
  }

  section.blogcontent p{
    font-size: 1.3em;
    line-height: 180%;
  }
  blockquote{
    font-size: 1.5em;
  }


  section.blogcontent h1 {
    font-size: 5em;
  }



}
